In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mlp
import seaborn as sns
import plotly.plotly as py
import cufflinks as cf
import plotly.offline as pyo
import plotly.graph_objs as go
cf.go_offline(connected=True)

In [8]:
data = pd.read_excel('2019 월별 전국 방문자수.xlsx')
data

,월,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,1,681997610,130981176,38855148,35297808,34362240,22031390,21303636,14581752,3305960,162579560,24953618,21349150,27432780,26394386,23584872,38406288,42577140,14000707
1,2,592580236,111320822,34681612,31613060,29025742,19235426,18668128,12942041,2898382,138865450,21481278,18738713,24065279,23242538,20744234,34273883,38349966,12433684
2,3,701908000,134851510,39710478,36116549,34957262,22143268,21741986,15088073,3492545,168081084,25976850,21981550,28193028,26790060,24267355,39756892,44443326,14316183
3,4,640311882,119185794,36381838,33864554,31531976,20663240,20182494,13758094,3289958,148565848,24295838,20847396,26901469,25389315,22969814,37708629,41230980,13544643
4,5,677198134,122667797,39926246,36360716,32099669,22204430,22465342,14922824,3806506,151744166,25478036,23197878,29689002,27696014,24930048,41185700,44461816,14361942
5,6,649221612,115948780,38926016,35247968,30611651,21465647,21531962,14561872,3701184,145399090,24517994,22089165,28722250,26689856,24191300,39416346,42618804,13581729
6,7,655834067,117567443,40926890,36350377,30816779,21705310,21612252,15708402,3716545,145586021,22736497,22195824,28796712,26496746,23916014,39860737,44052239,13789279
7,8,653247220,123105528,38924067,34119792,30752302,20908730,20723434,14319613,3477162,150430602,23980362,21402080,27532278,25752822,23425076,38172068,42625370,13595936
8,9,644024672,119529291,39343630,34168578,29870414,20596838,20816106,14215313,3613530,146517878,23046188,21483298,27641954,25665990,23276932,38382900,42737765,13118066
9,10,671461402,123117830,41201734,35835412,31413536,21558082,21696896,14982370,3916560,151477718,23705612,22512780,29350786,26782427,24597391,40330168,44922920,14059182
10,11,698550632,136085198,40658916,35092337,34150106,21149268,21728248,14550386,3934658,164828244,25983836,22442010,29211304,26646648,24308022,40126286,43922907,13732260
11,12,718104180,136135290,42756136,36103823,35265808,22166564,22338470,15525738,4021591,169980517,25864937,22997107,30801488,27777386,25260050,40690850,46268666,14149762

In [9]:
data1 = pd.read_excel('2020 월별 전국 방문자수.xlsx')
data1

,월,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,1,699349798,136331356,40188092,34878256,35476504,21054579,21249949,14481092,3736702,170255746,25583520,21667394,28622594,26167344,23712297,38340138,44201658,13402578
1,2,646989966,126469696,37560758,31057408,32890560,19245597,19665874,13832914,3594826,156807136,23824140,19967017,26499386,24317748,22357164,34922170,41554919,12422655
2,3,648763846,124658583,37321949,29670596,34036709,19268546,19231468,13795758,3543642,159005620,24424505,20133550,26630222,24876898,22724576,34484464,41967300,12989462
3,4,648059548,125818476,37891872,29882426,32719788,18661832,18867930,13655978,3581722,158932476,23901157,20271108,26651373,24393684,22812356,35386981,41733804,12896586
4,5,702367981,133575354,40179615,32897924,34783816,20451106,21126542,14967799,4034832,171689847,26153043,22360740,29753241,26761472,24828038,39151732,45721420,13931460
5,6,702599016,131627976,40852665,33624944,34488146,20379656,20999580,15115989,4138956,170686446,27027280,22728716,30387875,26588016,24763008,39780206,45825871,13583686
6,7,720548528,136400128,42045325,34818665,36078024,19262324,20919902,15485712,4216684,176094804,28143528,23131038,30726014,27163742,24824807,40622981,46576803,14038048
7,8,689060750,128190776,40737742,34278416,34397930,18839390,20543862,15018832,4050470,167336970,26274588,22063895,29421626,25814467,23651974,39569394,45218436,13651981
8,9,691186584,125109145,40887662,34697470,34139644,18723142,20528739,15355672,4365921,166928850,27504463,22528510,29970644,26126646,24245014,40398250,46215666,13461147
9,10,712432462,130932123,40334553,34713970,36513659,20053089,20906032,14766636,4426520,174688448,29116073,22644436,30336596,26898844,25112976,40547028,46118366,14323113
10,11,703466106,129668420,41527370,34475686,35208296,19788010,21293716,14932225,4279902,171111188,28083486,22265394,30004334,26608872,24735172,40125284,45301571,14057180
11,12,666973408,118384931,38998407,33846351,32826266,19789746,20290354,14219110,4233495,160196208,27380661,20858604,29012599,25648060,24832101,38613694,44071174,13771650

In [16]:
trace1 = go.Bar(x=data["월"], y=data["전국"], name="2019 방문자 수")
trace2 = go.Bar(x=data1["월"], y=data1["전국"], name='2020 방문자 수')
totaldata = [trace1, trace2]
layout = go.Layout(title='전국 관광지 방문자 수 비교')
fig = go.Figure(data=totaldata, layout=layout)
pyo.iplot(fig)