In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mlp
import seaborn as sns
import plotly.plotly as py
import cufflinks as cf
import plotly.offline as pyo
import plotly.graph_objs as go
cf.go_offline(connected=True)

In [2]:
data = pd.read_excel('2018 월별 전국 목적지 검색 횟수.xlsx')
data

,월,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,1,7914746,1543943,392890,199798,516093,131003,164392,105643,46403,2093624,676193,180772,336607,232190,229410,312833,364107,388845
1,2,7493297,1434891,381325,193567,495955,127145,155811,97252,44490,2013610,609719,189628,327984,233932,224157,297387,341874,324570
2,3,9259837,1660387,434153,227076,593460,155317,191643,121221,63039,2654727,606118,256455,448274,271682,307584,367443,450428,450830
3,4,10104535,1698904,460822,247442,621054,160031,204132,126819,70139,2883403,682507,296580,526922,310344,347747,442969,507433,517287
4,5,11699690,1862809,528384,273232,727249,183523,226180,150144,78053,3340526,904276,362461,613641,373983,426247,505055,585099,558828
5,6,11174518,1768325,505851,257809,709426,175117,219236,137239,74602,3277847,880527,341406,571731,324045,343574,457749,528101,601933
6,7,12325508,1927721,559498,277736,746712,193013,227824,160080,77233,3418414,1143404,365491,607581,372184,436123,540810,645562,626122
7,8,14149768,2054145,648409,297994,819079,203441,244455,179571,80564,3621845,1621755,416219,684915,446847,576712,707502,781188,765127
8,9,11838644,1892581,544823,294066,803119,185946,223184,142591,79824,3385740,889032,341823,621695,367487,401579,527114,553741,584299
9,10,12513413,2021766,558649,299458,819118,192329,241252,160421,85985,3574035,923682,382133,664687,400502,427337,572986,616761,572312
10,11,11118985,1953429,544784,296992,717192,195065,231820,154085,74820,3102435,703530,331383,548689,341722,383258,494331,553806,491644
11,12,12240020,2328079,649389,335004,810472,222888,262117,170890,82764,3384961,871421,304522,533972,333931,368350,481322,573264,526674

In [3]:
data1 = pd.read_excel('2019 월별 전국 목적지 검색 횟수.xlsx')
data1

,월,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,1,11369573,2082662,592442,297996,749992,197217,240361,157828,77981,3103752,893542,280462,491873,313673,337901,450605,538458,562828
1,2,11211203,1952272,607552,297939,740936,194535,227185,152078,75077,3010296,880115,283679,489573,342345,367179,479034,551272,560136
2,3,13144346,2254360,644747,345002,863792,219537,268953,184021,94790,3785022,829208,363738,632767,372681,445671,553135,685643,601279
3,4,13180204,2192269,617084,348173,866502,219393,267877,177300,99665,3870901,724481,409725,699619,392245,438183,566742,665466,624579
4,5,15331841,2407836,715370,375918,1016676,248018,295076,209786,111155,4519424,1025771,474140,814092,479241,525664,644813,767754,701107
5,6,15694410,2439868,724287,381746,1036729,251777,301302,205860,112470,4647421,1165257,481670,819854,442866,507785,659981,771107,744430
6,7,15856655,2446525,736281,385245,987423,259700,302708,219144,108671,4483771,1357593,465756,787911,461686,560782,694594,813050,785815
7,8,19776676,2713482,907249,439716,1179081,281400,340020,268294,122406,5239614,2078663,595613,1026930,632419,839780,1008398,1107960,995651
8,9,14479165,2402145,671669,393987,958990,237326,290191,194098,103190,4308612,952320,428256,716974,413308,463666,609297,670842,664294
9,10,17577844,2687247,794892,444421,1106770,270072,345453,237318,125672,5112217,1256137,553708,942429,534590,637706,812994,879825,836393
10,11,15984840,2650288,777955,443998,981020,274794,335515,234069,112747,4597932,989826,504082,782590,487753,567589,722135,796584,725963
11,12,16515922,2981846,865442,480452,1042672,302572,364146,251509,119370,4722214,1074244,437029,714073,449413,515302,650584,778674,766380

In [4]:
data2 = pd.read_excel('2020 월별 전국 목적지 검색 횟수.xlsx')
data2.columns

Index(['월', '전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시',
       '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도',
       '경상북도', '경상남도', '제주특별자치도'],
      dtype='object')

In [5]:
trace1 = go.Scatter(x=data["월"], y=data["전국"], name="2018 목적지 검색 횟수")
trace2 = go.Scatter(x=data1["월"], y=data1["전국"], name='2019 목적지 검색 횟수')
trace3 = go.Scatter(x=data2["월"], y=data2["전국"], name='2020 목적지 검색 횟수')
totaldata = [trace1,trace2, trace3]
layout = go.Layout(title='전국 목적지 검색 횟수 비교')
fig = go.Figure(data=totaldata, layout=layout)
pyo.iplot(fig)